$media-query-xs: 300px;
$media-query-sm: 568px;
$media-query-md: 768px;
$media-query-lg: 992px;
$media-query-xl: 1200px;

$bg-light: #f5f5f5;
$samm-red: #EB1E25 !global;
$samm-red-light: #c94645 !global;
$samm-grey: #4C4C4C !global;
$samm-grey-oryg: #2d2d37 !global;
$samm-grey-light: rgba(255,255,255,.5) !global;