.p0 {
  padding:0;
}
.pt0 {
  padding-top:0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.mb-0 {
  padding-bottom:0;
}
.m0 {
  margin: 0;
}
.mb0 {
  margin-bottom:0;
}
.mb-xs {
  margin-bottom: 5px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb-md {
  margin-bottom: 15px;
}
.mb-lg {
  margin-bottom: 20px;
}
.mb-xl {
  margin-bottom: 25px;
}

.mt-xs {
  margin-top: 5px;
}
.mt-sm {
  margin-top: 10px;
}
.mt-md {
  margin-top: 15px;
}
.mt-lg {
  margin-top: 20px;
}
.mt-xl {
  margin-top: 25px;
}

.mr-xs {
  margin-right: 5px;
}
.mr-sm {
  margin-right: 10px;
}
.mr-md {
  margin-right: 15px;
}
.mr-lg {
  margin-right: 20px;
}
.mr-xl {
  margin-right: 25px;
}

.ml-xs {
  margin-left: 5px;
}
.ml-sm {
  margin-left: 10px;
}
.ml-md {
  margin-left: 15px;
}
.ml-lg {
  margin-left: 20px;
}
.ml-xl {
  margin-left: 25px;
}
.pl-xs {
  padding-left: 5px;
}
.pl-sm {
  padding-left: 10px;
}
.pl-md {
  padding-left: 15px;
}
.pl-lg {
  padding-left: 20px;
}
.pl-xl {
  padding-left: 25px;
}