@font-face {
  font-family: 'freescpt';
  src: url('../fonts/FREESCPT.TTF') format("truetype");
}
@font-face {
  font-family: 'helveticaNeue';
  src:url('../fonts/HelveticaNeue.ttf') format("truetype");
}