@media screen and (min-width: $min-xs) {

  #workshops {

    header h1,
    header .h1,
    header h2,
    header .h2 {
      &:before {
        background-position: top center;
        background-image: url('../images/h-bg-rwd/warsztaty.jpg');
      }
    }

    .attention {
      text-align: left;
    }
  }

  .workshops-box {
    overflow: hidden;
    position: relative;

    &:nth-child(1) {
      padding-top: 0 !important;
    }

    h3 {
      display: inline-block;
      margin-top: 0;
      margin-right: 0;
    }
  }
}
